<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>243321937831-g9k5tq39ubppjkabhsdom78mqjspgrah.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.243321937831-g9k5tq39ubppjkabhsdom78mqjspgrah</string>
	<key>API_KEY</key>
	<string>AIzaSyD2YxSKkx7nRozPfJIwaQ-Rn7K7Uuof3Gs</string>
	<key>GCM_SENDER_ID</key>
	<string>243321937831</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.almoirmo.appsen</string>
	<key>PROJECT_ID</key>
	<string>appsen-123</string>
	<key>STORAGE_BUCKET</key>
	<string>appsen-123.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:243321937831:ios:48fdb34f1c0451f87aa082</string>
</dict>
</plist>